---
import Alert from '@/components/Alert.astro'
import Icon from '@/components/Icon.astro'
import clsx from 'clsx'
---

<section>
  <h3 class='inline-flex flex-wrap items-center gap-x-3 gap-y-2'>
    <span class='typo-hero-xs'>Kurse am 27./28. Dezember 2025</span>
  </h3>
  <div class='prose mt-4 max-w-2xl space-y-2'>
    <div class='inline-flex flex-wrap items-center gap-2'>
      <strong> Skikurse Bambini, Beginner und Junior Champions </strong>
      <span
        class={clsx(
          'bg-rose-50 text-rose-500 ring-rose-700/20',
          'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
        )}
      >
        Neuer Termin
      </span>
    </div>
    <Alert class='!my-6'>
      <p>
        Der Winter lässt noch auf sich warten: Aufgrund der aktuellen
        Schneeverhältnisse müssen die Kurse am 27./28. Dezember 2025 leider
        verschoben werden.
      </p>
      <p>
        Alle Kursteilnehmer sind damit automatisch für den Ersatzkurs am <span
          class='block text-center font-bold'
          >31. Januar und 1. Februar 2026</span
        > angemeldet. Sollte dieser Termin nicht passen, bitten wir um eine kurze
        Rückmeldung via E-Mail an <a
          href='mailto:info@szkollnau.de?subject=Stornierung%20Ersatzkurs%202025%2F2026&body=%0A%0A'
          target='_blank'
          rel='noreferrer'
          set:html='info@szkollnau.de'
        />.
      </p>
    </Alert>
    <p>
      Wir bitten um euer Verständnis und hoffen, dass euch der Ersatztermin
      zusagt.
    </p>
    <p>
      Wir hoffen auf den Wintereinbruch in den kommenden Wochen und freuen uns,
      euch bald auf der Piste zu sehen!
    </p>
  </div>
</section>
