---
import {
  courseBambini,
  courseBeginner,
  courseJuniorChampion,
  courseChampion,
} from '@/data/course-info'
import Alert from '@/components/Alert.astro'
import Icon from '@/components/Icon.astro'
import clsx from 'clsx'

const courses = [
  courseBambini,
  courseBeginner,
  courseJuniorChampion,
  courseChampion,
]
---

<div>
  <Alert class='!my-6'>
    <p>
      <b>Update 8:10 Uhr, 10.01.2026:</b> Die Kurse finden auf dem Kandel statt.
      Die Wetterlage hat sich über Nacht etwas beruhigt, es schneit weiterhin leicht
      und der Wind hat nachgelassen. Wir starten heute alle Kurse um 10:30 Uhr an
      den genannten Treffpunkten.
    </p>
    <p>
      Die Straßenverhältnisse sind winterlich, bitte plant für die Anreise zum
      Kandel entsprechend mehr Zeit ein.
    </p>
    <p>Wir freuen uns auf einen tollen Skitag mit euch!</p>
  </Alert>
</div>
