@tailwind components;

@import './typography.css';

.box {
  @apply mx-auto;
  @apply max-w-7xl;
  @apply px-6;
  @apply lg:px-8;
}

.prose dd {
  margin-top: 0;
  padding-left: 0;
}

.scrollbar-hidden {
  overflow-y: scroll;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  /* for Chrome, Safari, and Opera */
  display: none;
}
