---
import Alert from '@/components/Alert.astro'
import Icon from '@/components/Icon.astro'
import {
  courseBambini,
  courseBeginner,
  courseJuniorChampion,
  courseChampion,
} from '@/data/course-info'
import clsx from 'clsx'

const { class: className } = Astro.props

const courses = [
  courseBambini,
  courseBeginner,
  courseJuniorChampion,
  courseChampion,
]
---

<div class={clsx('box', className)}>
  <div class="mx-auto max-w-2xl">
    <h2>
      <div class="typo-hero text-left">Findet mein Kurs statt?</div>
    </h2>
    <p
      class="mt-4 flex items-center gap-x-1 text-xs leading-tight text-sky-600 md:text-sm"
    >
      <Icon name="arrow-sync-circle-16-regular" />
      <span>Aktualisiert am 20.01.2025 um 18.58 Uhr</span>
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl space-y-16">
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 25./26. Januar 2025</span>
      </h3>
      <div class="prose mt-4 max-w-2xl space-y-2">
        <div class="inline-flex flex-wrap items-center gap-2">
          <strong>
            Skikurse Bambini, Beginner, Junior Champions und Champions
          </strong>
          <span
            class={clsx(
              'bg-yellow-50 text-yellow-800 ring-yellow-600/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            Entscheidung offen
          </span>
        </div>
        {
          //   <span
          //   class={clsx(
          //     'bg-green-50 text-green-700 ring-green-600/20',
          //     'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          //   )}
          //   >
          //   Kandel
          // </span>
        }
        <p>
          Aller Voraussicht nach werden wir unsere Skikurse nach Muggenbrunn
          verlegen. Eine entgültige Entscheidung werden wir unter Beobachtung
          der Schnee- und Wetterlage frühestens Donnerstagabend treffen können.
        </p>
        <p>
          Hintergrund: Der Schnee auf dem Kandel reicht leider nicht aus, aber
          dank der kalten Temperaturen können andere Skipisten im Schwarzwald
          beschneit werden. Das gilt auch für das <a
            href="https://www.feldberg-erlebnis.de/schneebericht/detail#/article/5405d6a2-925b-4daf-ba07-e80ec867c6aa"
            target="_blank"
            rel="noreferrer">Skigebiet Muggenbrunn</a
          >.
        </p>
        <Alert class="!my-6">
          <h3 class="font-bold">Geänderte Kurszeiten und Treffpunkte:</h3>
          <h4 class="font-bold">Skikurs Beginner, Junior Champion, Champion</h4>
          <p class="!mb-2 flex items-center gap-x-2">
            <Icon name="clock-24-regular" />
            <span class="font-semibold">Zeit</span>
            <span>9:30 – 11:30 Uhr und 12 – 14 Uhr</span>
          </p>
          <p class="!mt-2 flex gap-x-2">
            <Icon name="location-24-regular" />
            <span class="flex flex-wrap items-center gap-x-2">
              <span class="font-semibold">Treffpunkt</span>
              <span>Talstation Wasenlift, Muggenbrunn</span>
              <a
                href="/skischule/treffpunkt/#muggenbrunn"
                class="text-xs font-semibold text-sky-600"
              >
                Wo ist das?
              </a>
            </span>
          </p>
        </Alert>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/preise/"
            target="_blank"
            rel="noreferer"
            >Tickets für das Skigebiet Muggenbrunn können online gekauft werden.</a
          >
        </p>
        <p>
          <a
            href="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
            target="_blank"
          >
            <img
              src="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
              class="block w-full"
            />
          </a>
        </p>
      </div>
      {
        // <Alert class="!my-6">
        //   <h3><strong>Kurse abgesagt</strong></h3>
        //   <p>
        //     Manchmal ist es einfach nicht einfach und die Lage ändert sich
        //     schnell. Leider müssen wir die Kurse für Bambini, Beginner und
        //     Junior Champions jetzt doch absagen.
        //   </p>
        //   <p>
        //     Der Liftbertrieb auf dem Kandel wurde soeben aufgrund starker, nicht
        //     nachlassender Windböen abgesagt. Bei diesen Verhältnissen können wir
        //     leider auch die Bambini und Beginner Kurse nicht stattfinden lassen.
        //     Auch die Anfahrt durch den Kandel bleibt damit nicht ohne erhöhtes
        //     Risiko.
        //   </p>
        //   <p>
        //     Nach einem wunderschönen ersten Kurstag bei perfekten Verhältnissen
        //     ist das Wetter heute leider nicht auf unserer Seite. Das ist sehr
        //     schade, wir hätten euch heute gerne wiedergesehen. Wir bitten um
        //     euer Verständnis für diese Entscheidung.
        //   </p>
        //   <p>
        //     Die Kurse sind damit aufgrund höherer Gewalt ersatzlos abgesagt.
        //   </p>
        // </Alert>
        // <p>
        // Grünes Licht: Übernacht kam nochmals Schnee und die Kurse für Bambini,
        // Beginner und Junior Champions finden am Wochenende auf dem
        // <a
        // href="https://www.kandellifte.de/"
        // target="_blank"
        // rel="noreferrer"
        // >
        // Kandel
        // </a> statt. Der Skikurs für Champions muss leider abgesagt werden. Wir
        // freuen uns auf dich und deine Familie!
        // </p>
      }
      {
        // <Alert class="!my-6">
        //   <p>
        //     Die Situation auf dem Kandel wird bei entsprechender Wetterlage
        //     regelmäßig von der Stadt kontrolliert. Im Falle einer Überlastung
        //     werden die Zufahrten auf den Kandel gesperrt. Informiert euch bitte am
        //     Kurstag auf der <a
        //       href="https://www.stadt-waldkirch.de/start/aktuelle+meldungen/kandelzufahrt.html"
        //       target="_blank"
        //       rel="noreferer noopener">Website der Stadt Waldkirch</a
        //     > über die aktuelle Situation, dort werden Sperrungen bekannt gegeben.
        //   </p>
        // </Alert>
      }

      {
        // <div class="mx-auto !mt-4 flow-root max-w-3xl space-y-6">
        // courses.map((course) => (
        //   <div>
        //     <h5 class="font-bold">{course.title}</h5>
        //     <div class="prose mt-2 max-w-2xl">
        //       <p class="!mb-2 flex items-center gap-x-2">
        //         <Icon name="clock-24-regular" />
        //         <span class="font-semibold">Zeit</span>
        //         <span>{course.duration}</span>
        //       </p>
        //       <p class="!mt-2 flex gap-x-2">
        //         <Icon name="location-24-regular" />
        //         <span class="flex flex-wrap items-center gap-x-2">
        //           <span class="font-semibold">
        //             {course.meetingPointTitle}
        //           </span>
        //           <span>{course.meetingPoint}</span>
        //           <a
        //             href="/skischule/treffpunkt/"
        //             class="text-xs font-semibold text-sky-600"
        //           >
        //             Wo ist das?
        //           </a>
        //         </span>
        //       </p>
        //     </div>
        //   </div>
        // ))
        // </div>
      }
    </div>
  </div>
  {
    /* 
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 24./25. Februar 2024</span>

        <span
          class={clsx(
            'bg-rose-50 text-rose-500 ring-rose-700/20',
            'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          )}
        >
          abgesagt
        </span>
      </h3>
      <div class="mt-4 max-w-2xl space-y-2 text-base">
        <p>
          Leider kam in den letzten Wochen kein Schnee mehr und die Aussichten{
            ' '
          }
           sind für die restliche Saison leider auch nicht gut. Daher werden{
            ' '
          }
          <strong>alle Kurse ersatzlos abgesagt.</strong> 😔
        </p>
        <p>Die Kursgebühren werden abzüglich einer Gebühr erstattet.</p>
        <p>
          Sollte es überraschender Weise noch mal Schnee geben und wir weitere
          Kurse anbieten können, erfährst du es an dieser Stelle.
        </p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 03./04. Februar 2024</span>

        <span
          class={clsx(
            'bg-yellow-50 text-yellow-800 ring-yellow-600/20',
            'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          )}
        >
          verschoben auf 24./25.02.2024
        </span>
      </h3>
      <div class="mt-4 max-w-2xl space-y-2 text-base">
        <p>
          Am Wochenende hatten wir den Ersatztermin für die ausgefallenen Kurse
          vom 6./7. Januar 2024 geplant. Leider gab es in den vergangenen Tagen
          keinen neuen Schnee, so dass auch der Ersatztermin nicht statt finden
          kann. Die Wettervorhersage stimmt uns aber zuversichtlich und wir
          hoffen auf neue Schneefälle in den nächsten ein bis zwei Wochen.
        </p>
        <p>
          Daher verschieben wir alle Kurse nochmals auf das Wochenende <b
            ><time datetime="2024-02-24/2024-02-25">24./25. Februar 2024</time
            ></b
          >. Alle Teilnehmer werden automatisch auf das neue Datum umgebucht.
          Solltest du an diesem Termin nicht können, melde dich bitte bei uns
          ab.
        </p>
        <p>
          Wir hoffen, dass der Schnee kommt und freuen uns auf die Kurse mit
          euch. ❄️🙏
        </p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 27./28. Januar 2024</span>

        <span
          class={clsx(
            'bg-rose-50 text-rose-500 ring-rose-700/20',
            'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          )}
        >
          abgesagt
        </span>
      </h3>
      <div class="mt-4 max-w-2xl space-y-2 text-base">
        <p>
          Auf Grund der schlechten Schneesituation und den trüben Aussichten
          können die Kurse am Wochenende leider nicht statt finden. <strong
            >Alle Kurse werden ersatzlos abgesagt.</strong
          > Die Kursgebühren werden abzüglich einer Gebühr erstattet. 😔
        </p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 13./14. Januar 2024</span>
      </h3>
      <div class="prose mt-4 max-w-2xl space-y-2">
        <h4 class="inline-flex flex-wrap items-center gap-2">
          <strong
            >Skikurse Junior Champions & Champions und Snowboardkurse</strong
          >
          <span
            class={clsx(
              'bg-green-50 text-green-700 ring-green-600/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            Skigebiet Muggenbrunn
          </span>
        </h4>
        <p>
          Grünes Licht: Die Kurse finden am Wochenende
          <a
            href="https://www.skizentrum-muggenbrunn.de/"
            target="_blank"
            rel="noreferrer">am Wasenlift in Muggenbrunn</a
          > statt. Die letzten Nächte waren kalt, so dass die Pisten weiter
          beschneit werden konnten. Nicht irritieren lassen, die Website des
          Skigebiets ist noch nicht aktualisiert. Der Anruf beim Schneetelefon
          brachte aber Klarheit.
        </p>
        <p>
          Hintergrund: Der Schnee auf dem Kandel reicht leider nicht aus, aber
          dank der kalten Temperaturen können andere Skipisten im Schwarzwald
          beschneit werden. Das gilt auch für das <a
            href="https://www.feldberg-erlebnis.de/schneebericht/detail#/article/5405d6a2-925b-4daf-ba07-e80ec867c6aa"
            target="_blank"
            rel="noreferrer">Skigebiet Muggenbrunn</a
          >.
        </p>
        <p>
          Bitte beachte die neuen Kurszeiten für dieses Skigebiet:<br
          />9:30–11:30 Uhr und 12–14 Uhr.<br />
           Treffpunkt ist an der <a
            href="https://www.google.de/maps/place/Skilift+Wasen/@47.8693961,7.9172527,800m/data=!3m1!1e3!4m14!1m7!3m6!1s0x4790fe3ab59770e9:0x2a4ca1ae962409d4!2sSkizentrum+Muggenbrunn!8m2!3d47.85773!4d7.91633!16s%2Fg%2F11fq8sf71b!3m5!1s0x4790fe18181ce48d:0x2ca37021840f475f!8m2!3d47.868!4d7.9186863!16s%2Fg%2F11f30995wl?entry=ttu"
            target="_blank"
            rel="noreferrer">Talstation Wasenlift</a
          >.
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/preise/"
            target="_blank"
            rel="noreferer"
            >Tickets für das Skigebiet Muggenbrunn können online gekauft werden.</a
          >
        </p>
        <p>
          <a
            href="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
            target="_blank"
          >
            <img
              src="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
            target="_blank"
          >
            <img
              src="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <h4 class="!mt-4 inline-flex flex-wrap items-center gap-2">
          <strong>Skikurse Bambini & Beginner</strong>
        </h4>
        <p>Wir hoffen auf Schnee.</p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 13./14. Januar 2024</span>
      </h3>
      <div class="prose mt-4 max-w-2xl space-y-2">
        <h4 class="inline-flex flex-wrap items-center gap-2">
          <strong
            >Skikurse Junior Champions & Champions und Snowboardkurse</strong
          >
          <span
            class={clsx(
              'bg-green-50 text-green-700 ring-green-600/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            Skigebiet Muggenbrunn
          </span>
        </h4>
        <p>
          Grünes Licht: Die Kurse finden am Wochenende
          <a
            href="https://www.skizentrum-muggenbrunn.de/"
            target="_blank"
            rel="noreferrer">am Wasenlift in Muggenbrunn</a
          > statt. Die letzten Nächte waren kalt, so dass die Pisten weiter
          beschneit werden konnten. Nicht irritieren lassen, die Website des
          Skigebiets ist noch nicht aktualisiert. Der Anruf beim Schneetelefon
          brachte aber Klarheit.
        </p>
        <p>
          Hintergrund: Der Schnee auf dem Kandel reicht leider nicht aus, aber
          dank der kalten Temperaturen können andere Skipisten im Schwarzwald
          beschneit werden. Das gilt auch für das <a
            href="https://www.feldberg-erlebnis.de/schneebericht/detail#/article/5405d6a2-925b-4daf-ba07-e80ec867c6aa"
            target="_blank"
            rel="noreferrer">Skigebiet Muggenbrunn</a
          >.
        </p>
        <p>
          Bitte beachte die neuen Kurszeiten für dieses Skigebiet:<br
          />9:30–11:30 Uhr und 12–14 Uhr.<br />
           Treffpunkt ist an der <a
            href="https://www.google.de/maps/place/Skilift+Wasen/@47.8693961,7.9172527,800m/data=!3m1!1e3!4m14!1m7!3m6!1s0x4790fe3ab59770e9:0x2a4ca1ae962409d4!2sSkizentrum+Muggenbrunn!8m2!3d47.85773!4d7.91633!16s%2Fg%2F11fq8sf71b!3m5!1s0x4790fe18181ce48d:0x2ca37021840f475f!8m2!3d47.868!4d7.9186863!16s%2Fg%2F11f30995wl?entry=ttu"
            target="_blank"
            rel="noreferrer">Talstation Wasenlift</a
          >.
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/preise/"
            target="_blank"
            rel="noreferer"
            >Tickets für das Skigebiet Muggenbrunn können online gekauft werden.</a
          >
        </p>
        <p>
          <a
            href="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
            target="_blank"
          >
            <img
              src="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
            target="_blank"
          >
            <img
              src="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <h4 class="!mt-4 inline-flex flex-wrap items-center gap-2">
          <strong>Skikurse Bambini & Beginner</strong>
          <span
            class={clsx(
              'bg-rose-50 text-rose-500 ring-rose-700/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            abgesagt
          </span>
        </h4>
        <p>
          Auf Grund der weiterhin schlechten Schneesituation auf dem Kandel
          können die Bambini und Beginner Skikurse leider nicht statt finden und
          werden ersatzlos abgesagt. Die Kursgebühren werden abzüglich einer
          Gebühr erstattet.
        </p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 6./7. Januar 2024</span>

        <span
          class={clsx(
            'bg-yellow-50 text-yellow-800 ring-yellow-600/20',
            'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          )}
        >
          verschoben auf 3./4.02.2024
        </span>
      </h3>
      <div class="mt-4 max-w-2xl space-y-2 text-base">
        <p>
          Auf Grund der schlechten Schneesituation und den trüben Aussichten
          können die Kurse am Wochenende leider nicht statt finden. Alle Kurse
          werden auf den <b>3./4. Februar 2024</b> verlegt. Alle Teilnehmer
          werden automatisch auf das neue Datum umgebucht. Solltest du an diesem
          Termin nicht können, melde dich bitte bei uns ab.
        </p>
        <p>Wir hoffen auf bessere Verhältnisse in der nächsten Woche.</p>
      </div>
    </div>
    
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 13./14. Januar 2024</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 27./28. Januar 2024</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 3./4. Februar 2023</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Ersatztermin für die Kurse vom 6./7. Januar 2023.</p>
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        */
  }
</div>
