---
import Icon from '@/components/Icon.astro'
import clsx from 'clsx'

const { class: className } = Astro.props
---

<div class={clsx('box', className)}>
  <div class="mx-auto max-w-2xl">
    <h2>
      <div class="typo-hero text-left">Findet mein Kurs statt?</div>
    </h2>
    <p
      class="mt-4 flex items-center gap-x-1 text-xs leading-tight text-sky-600 md:text-sm"
    >
      <Icon name="arrow-sync-circle-16-regular" />
      <span>Aktualisiert am 11.01.2024 um 09.33 Uhr</span>
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl space-y-16">
    {
      /*
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 6./7. Januar 2023</span>

            <span
              class={clsx(
                'bg-rose-50 text-rose-500 ring-rose-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              abgesagt
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>
              Auf Grund der schlechten Schneesituation und den trüben Aussichten
              können die Kurse am Wochenende leider nicht statt finden und sind
              abgesagt. Die Kursgebühren werden erstattet.
            </p>
          </div>
        </div>
        */
    }
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 13./14. Januar 2023</span>
      </h3>
      <div class="prose mt-4 max-w-2xl space-y-2">
        <h4 class="inline-flex flex-wrap items-center gap-2">
          <strong
            >Skikurse Junior Champions & Champions und Snowboardkurse</strong
          >
          <span
            class={clsx(
              'bg-green-50 text-green-700 ring-green-600/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            Skigebiet Muggenbrunn
          </span>
        </h4>
        <p>
          Wir sind sehr zuversichtlich, dass die Kurse am Wochenende
          <a
            href="https://www.skizentrum-muggenbrunn.de/"
            target="_blank"
            rel="noreferrer">am Wasenlift in Muggenbrunn</a
          > statt finden können. Die Nächte sollen kalt bleiben, so dass die
          Pisten weiter beschneitt werden können. Das finale Go können wir am
          morgigen Freitag im Laufe des Vormittags geben.
        </p>
        <p>
          Hintergrund: Der Schnee auf dem Kandel reicht leider nicht aus, aber
          dank der kalten Temperaturen können andere Skipisten im Schwarzwald
          beschneit werden. Das gilt auch für das <a
            href="https://www.feldberg-erlebnis.de/schneebericht/detail#/article/5405d6a2-925b-4daf-ba07-e80ec867c6aa"
            target="_blank"
            rel="noreferrer">Skigebiet Muggenbrunn</a
          >.
        </p>
        <p>
          Bitte beachte die neuen Kurszeiten für dieses Skigebiet:<br
          />9:30–11:30 Uhr und 12–14 Uhr.<br />
           Treffpunkt ist an der <a
            href="https://www.google.de/maps/place/Skilift+Wasen/@47.8693961,7.9172527,800m/data=!3m1!1e3!4m14!1m7!3m6!1s0x4790fe3ab59770e9:0x2a4ca1ae962409d4!2sSkizentrum+Muggenbrunn!8m2!3d47.85773!4d7.91633!16s%2Fg%2F11fq8sf71b!3m5!1s0x4790fe18181ce48d:0x2ca37021840f475f!8m2!3d47.868!4d7.9186863!16s%2Fg%2F11f30995wl?entry=ttu"
            target="_blank"
            rel="noreferrer">Talstation Wasenlift</a
          >.
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/preise/"
            target="_blank"
            rel="noreferer"
            >Tickets für das Skigebiet Muggenbrunn können online gekauft werden.</a
          >
        </p>
        <p>
          <a
            href="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
            target="_blank"
          >
            <img
              src="https://wp.datacreate.de/skizentrummuggenbrunn/wp-content/uploads/sites/14/2021/11/2021-Panorma-Muggenbrunn-1.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <p>
          <a
            href="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
            target="_blank"
          >
            <img
              src="https://www.skizentrum-muggenbrunn.de/wp-content/uploads/sites/14/2021/11/Luftbilder-mit-Liften_wasenlift.jpg"
              class="block w-full"
            />
          </a>
        </p>
        <h4 class="!mt-4 inline-flex flex-wrap items-center gap-2">
          <strong>Skikurse Bambini & Beginner</strong>
          <span
            class={clsx(
              'bg-rose-50 text-rose-500 ring-rose-700/20',
              'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
            )}
          >
            abgesagt
          </span>
        </h4>
        <p>
          Auf Grund der weiterhin schlechten Schneesituation auf dem Kandel
          können die Bambini und Beginner Skikurse leider nicht statt finden und
          werden ersatzlos abgesagt. Die Kursgebühren werden abzüglich einer
          Gebühr erstattet.
        </p>
      </div>
    </div>
    <div>
      <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
        <span class="typo-hero-xs">Kurse am 6./7. Januar 2023</span>

        <span
          class={clsx(
            'bg-yellow-50 text-yellow-800 ring-yellow-600/20',
            'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
          )}
        >
          verschoben auf 3./4.02.2023
        </span>
      </h3>
      <div class="mt-4 max-w-2xl space-y-2 text-base">
        <p>
          Auf Grund der schlechten Schneesituation und den trüben Aussichten
          können die Kurse am Wochenende leider nicht statt finden. Alle Kurse
          werden auf den <b>3./4. Februar 2023</b> verlegt. Alle Teilnehmer
          werden automatisch auf das neue Datum umgebucht. Solltest du an diesem
          Termin nicht können, melde dich bitte bei uns ab.
        </p>
        <p>Wir hoffen auf bessere Verhältnisse in der nächsten Woche.</p>
      </div>
    </div>
    {
      /* 
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 13./14. Januar 2023</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 27./28. Januar 2023</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        <div>
          <h3 class="inline-flex flex-wrap items-center gap-x-3 gap-y-2">
            <span class="typo-hero-xs">Kurse am 3./4. Februar 2023</span>

            <span
              class={clsx(
                'bg-sky-50 text-sky-700 ring-sky-700/20',
                'mt-0.5 inline-block whitespace-nowrap rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset',
              )}
            >
              ungewiss
            </span>
          </h3>
          <div class="mt-4 max-w-2xl space-y-2 text-base">
            <p>Ersatztermin für die Kurse vom 6./7. Januar 2023.</p>
            <p>Informationen folgen in der Woche vor dem Kurs.</p>
          </div>
        </div>
        */
    }
  </div>
</div>
