---
import { Image } from 'astro:assets'

import ImageTeam from '@/images/skischule-einweisung-2022.jpg'
---

<div class="relative z-10 xl:mx-auto xl:max-w-7xl xl:px-8">
  <Image
    src={ImageTeam}
    alt="Team der DSV-Skischule Kollnau"
    class="aspect-[3/2] w-full object-cover xl:rounded-3xl"
  />
</div>
