---
import { Image } from 'astro:assets'
import Icon from '@/components/Icon.astro'

import ImageCertificate from '@/images/dsv-zertifikat-2023.png'
---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-sky-600">
            Zertifizierung
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            Höchste Qualität zertifiziert durch den Deutschen Ski Verband
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Mit der Zertifizierung unserer DSV-Skischule stellen wir unseren
            hohen Qualitätsanspruch an die Ski- und Snowboardausbildung sicher.
            Unsere Ski- und Snowboardlehrer und Übungsleiter werden laufend nach
            neuesten Erkenntnissen geschult und nehmen an Fortbildungen teil, um
            ihr hervorragendes Fachwissen aktuell zu halten.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <span class="absolute left-0 top-0 h-5 w-5 text-sky-500">
                  <Icon name="certificate-24-regular" />
                </span>
                 Aus- und Fortbildung auf höchstem Niveau.
              </dt>
              <dd class="inline">
                Konsequente Qualitätssicherung durch laufende Fortbildungen,
                geprüft und zertifiziert durch den DSV.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <span class="absolute left-0 top-0 h-5 w-5 text-sky-500">
                  <Icon name="arrow-sync-checkmark-24-regular" />
                </span>
                 Unterricht aktueller Trends und Techniken
              </dt>
              <dd class="inline">
                auf Basis neuester Erkenntnisse gefordert und gefördert durch
                den DSV.
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <!-- <img
        src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
        alt="Product screenshot"
        class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        width="2432"
        height="1442"
      /> -->
      <Image
        src={ImageCertificate}
        alt="DSV-Skischule Zertifizierung"
        class="w-full max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 md:-ml-4 lg:-ml-0"
      />
    </div>
  </div>
</div>
