---
import Page from '@/layouts/Page.astro'
---

<Page title="AGB" description="Allgemeine Geschäftsbedingungen (AGB) des DSV-Skischule der Skizunft Kollnau e.V.">
  <main>
    <div class="box prose mt-5 max-w-2xl">
      <h1>Allgemeine Geschäftsbedingungen (AGB) der DSV-Skischule Skizunft Kollnau e.V.</h1>
      <time datetime="2024-10-01">Stand: 01.10.2024</time>
  <ol>
    <li>
      <h2>Geltungsbereich</h2>
      <p>
        Diese AGB gelten für alle Ski- und Snowboardkurse sowie sonstige
        Veranstaltungen des Skiclubs Skizunft Kollnau e.V.
      </p>
    </li>
    <li>
      <h2>Mitgliedschaft und Kursteilnahme</h2>
      <ol>
        <li>
          Für die Teilnahme an Kursen des Skiclubs Skizunft Kollnau e.V. ist
          keine Vereinsmitgliedschaft erforderlich. Mitglieder erhalten jedoch
          einen Rabatt auf die Kursgebühr.
        </li>
      </ol>
    </li>
    <li>
      <h2>Anmeldung und Zahlung</h2>
      <ol>
        <li>
          Die Anmeldung zu Kursen erfolgt über die Website des Vereins oder
          schriftlich. Mit der Anmeldung verpflichtet sich der Teilnehmer zur
          Zahlung der anfallenden Gebühren.
        </li>
        <li>
          Die Kursgebühren sind bis spätestens 5 Tage vor Kursbeginn per
          Banküberweisung auf das Bankkonto des Vereins zu überweisen. Erfolgt
          keine fristgerechte Zahlung, behält sich der Verein das Recht vor, den
          Platz anderweitig zu vergeben.
        </li>
      </ol>
    </li>
    <li>
      <h2>Mindestteilnehmerzahl</h2>
      <ol>
        <li>
          Die Mindestteilnehmerzahl für einen Kurs beträgt 5 Personen. Sollte
          diese nicht erreicht werden, behält sich der Verein das Recht vor, den
          Kurs abzusagen. In diesem Fall werden bereits gezahlte Kursgebühren
          vollständig zurückerstattet.
        </li>
      </ol>
    </li>
    <li>
      <h2>Kursverlegung und Ausweichtermine</h2>
      <ol>
        <li>
          Bei unsicherer Schneelage auf dem Kandel werden die Kurse (außer
          Bambini-Kurse) automatisch in ein umliegendes Skigebiet verlegt. Die
          Bekanntgabe, ob und wo ein Kurs stattfindet, erfolgt in der Regel 2
          Tage vor Kursbeginn gegen 20 Uhr auf unserer Website. Bei Verlegung
          beginnt der Kurs um 9:00 Uhr, der jeweilige Treffpunkt wird
          rechtzeitig bekannt gegeben.
        </li>
      </ol>
    </li>
    <li>
      <h2>Höhere Gewalt</h2>
      <ol>
        <li>
          Muss ein Kurs aufgrund höherer Gewalt (z. B. fehlender Schnee,
          kritische Wetterbedingungen wie Sturm) abgesagt werden, wird die
          Kursgebühr abzüglich einer Bearbeitungsgebühr von 5 € zurückerstattet.
          Findet mindestens ein Kurstag statt, wird die gesamte Kursgebühr
          einbehalten.
        </li>
      </ol>
    </li>
    <li>
      <h2>Stornierung und Krankheitsfall</h2>
      <ol>
        <li>
          Eine Stornierung ist bis spätestens 5 Tage vor Kursbeginn möglich. In
          diesem Fall wird eine Bearbeitungsgebühr von 5 € einbehalten. Bei
          Nichterscheinen ohne rechtzeitige Stornierung wird die gesamte
          Kursgebühr berechnet. 7.2 Im Krankheitsfall ist eine Stornierung gegen
          Vorlage eines ärztlichen Attests bis spätestens Freitag vor Kursbeginn
          um 14 Uhr per E-Mail an skischule@szkollnau.de möglich. Auch in diesem
          Fall wird eine Bearbeitungsgebühr von 5 € einbehalten.
        </li>
      </ol>
    </li>
    <li>
      <h2>Gesundheitszustand und Sicherheitsvorkehrungen</h2>
      <ol>
        <li>
          Die Teilnahme an den Kursen ist nur ohne gesundheitliche
          Einschränkungen möglich. Jeder Teilnehmer bestätigt mit seiner
          Anmeldung, gesundheitlich in der Lage zu sein, an den Kursen
          teilzunehmen. 8.2 Teilnehmer sind verpflichtet, den Anweisungen der
          Kursleiter Folge zu leisten. Bei Verstößen gegen
          Sicherheitsvorschriften kann der Teilnehmer vom Kurs ausgeschlossen
          werden. Eine Erstattung der Kursgebühr erfolgt in diesem Fall nicht.
        </li>
      </ol>
    </li>
    <li>
      <h2>Versicherungsschutz</h2>
      <ol>
        <li>
          Alle Vereinsmitglieder sind über die Dauer des Kurses versichert. Für
          Nicht-Mitglieder besteht nur ein bedingter Versicherungsschutz während
          der Kursdauer. Der Verein empfiehlt Nicht-Mitgliedern daher
          ausdrücklich den Abschluss einer Versicherung über den Deutschen
          Skiverband.
        </li>
      </ol>
    </li>
    <li>
      <h2>Haftung</h2>
      <ol>
        <li>
          Der Skiclub Skizunft Kollnau e.V. übernimmt keine Haftung für
          Personen-, Sachschäden oder Krankheiten, die während des Kursbetriebs
          entstehen, es sei denn, es liegt vorsätzliches oder grob fahrlässiges
          Verhalten vor.
        </li>
      </ol>
    </li>
    <li>
      <h2>Datenschutz</h2>
      <ol>
        <li>
          Der Verein verarbeitet die personenbezogenen Daten der Teilnehmer nur
          für interne Zwecke gemäß der geltenden Datenschutzbestimmungen. Eine
          Weitergabe an Dritte erfolgt nur mit Zustimmung der betroffenen
          Personen oder wenn dies gesetzlich vorgeschrieben ist.
        </li>
      </ol>
    </li>
    <li>
      <h2>Schlussbestimmungen</h2>
      <ol>
        <li>
          Änderungen der AGB werden den Mitgliedern schriftlich oder per E-Mail
          bekannt gegeben. Sie gelten als genehmigt, wenn nicht innerhalb von
          vier Wochen schriftlich widersprochen wird. 12.2 Sollte eine
          Bestimmung dieser AGB unwirksam sein, bleiben die übrigen Bestimmungen
          davon unberührt.
        </li>
      </ol>
    </li>
  </ol>
</div>

  </main>
</Page>
