---
import clsx from 'clsx'
import HeroHome from '@/components/HeroHome.astro'
import Page from '@/layouts/Page.astro'
import DsvSkischule from '@/images/dsv-skischule.svg'
---

<Page title="Skizunft Kollnau e.V." description="">
  <main class="pt-4">
    <!-- <AlertSection>
      <p>
        <strong>Wichtige Hinweise</strong> zu unseren Kursen am 14./15. Januar
        2023 &nbsp;&middot;&nbsp;&nbsp;<a href="#kurshinweise"
          >Mehr erfahren &rarr;</a
        >
      </p>
    </AlertSection> -->
    <HeroHome />
    <div class="box mt-5">
      <div class="mb-4 flex justify-center">
        <img
          src={DsvSkischule.src}
          alt="DSV Skischule Skizunft Kollnau e.V."
          class="h-[24px] w-auto"
        />
      </div>
      <h2 class="typo-hero text-center">
        Wir bieten Ski- und Snowboardkurse<br />für Kinder ab 4 Jahren.
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8">
        Wir sind deine zertifizierte DSV-Skischule auf dem Kandel und bieten dir
        Kinderkurse für unterschiedliche Könnensstufen.
      </p>
      <div class="mt-6 flex items-center justify-center gap-x-6">
        <a href="/buchung/" class="block">
          <div
            class={clsx(
              'rounded-full px-6 py-2 text-sm font-semibold shadow-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2',
              'bg-brandred-600 text-white  focus-visible:outline-brandred-600',
              'transition ease-in-out',
              'hovers:hover:-translate-y-0.5 hovers:hover:bg-brandred-500 hovers:hover:shadow-lg',
            )}
          >
            Kurs buchen
          </div>
        </a>
        <a href="/skischule/" class="text-sm font-semibold leading-6">
          Mehr erfahren <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
  </main>
</Page>
