---
import Icon from '@/components/Icon.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Jahreshauptversammlung" description="">
  <main>
    <div class="box mt-5">
      <div class="bg-white pb-24 sm:pb-32">
        <div class="box">
          <div class="max-w-2xl md:mx-auto">
            <h1 class="md:mx-auto md:text-center">
              <div class="typo-overline">Einladung aller Mitglieder zur</div>
              <div class="typo-headline">
                Jahreshauptversammlung <span class="sr-only"
                  >der Skizunft Kollnau e.V.
                </span>2023
              </div>
            </h1>
            <div
              class="mt-6 flex flex-wrap justify-center gap-x-6 gap-y-6 text-gray-600 md:mx-auto md:text-center"
            >
              <p class="flex items-center gap-x-2">
                <Icon name="calendar-24-regular" />
                <span>Freitag, 10. November 2023 um 20 Uhr</span>
              </p>
              <p class="flex items-center gap-x-2">
                <Icon name="location-24-regular" />
                <span>Acqua Mediterranes Restaurant, Kollnau</span>
              </p>
            </div>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Liebes Mitglied der Skizunft Kollnau, wir, die Vorstandschaft
              möchten dich herzlich zu unserer alljährlichen
              Jahreshauptversammlung einladen. Wir werden gemeinsam auf das
              vergangene Jahr zurückblicken, langjährige Mitglieder ehren und
              unsere Pläne für die kommende Saison besprechen. Wir werden
              wichtige Entscheidungen treffen, Teile des Vorstands wählen und
              eure Meinungen und Ideen hören. Wir hoffen, euch zahlreich bei der
              Jahreshauptversammlung begrüßen zu dürfen.
            </p>
            <div class="prose mt-10">
              <h2>Tagesordnung</h2>
              <ol>
                <li>Begrüßung</li>
                <li>Gedenken an unsere verstorbenen Mitglieder</li>
                <li>Ordnungsgemäße Einberufung und Beschlussfähigkeit</li>
                <li>Verlesen des Protokoll der JHV 2022</li>
                <li>Geschäftsjahr 2022/2023</li>
                <li>Ehrungen und Auszeichnungen</li>
                <li>Tätigkeitsbericht der Fachwarte</li>
                <li>Kassenbericht</li>
                <li>Bericht der Kassenprüfer und Entlastung des Kassenwarts</li>
                <li>Entlastung der Vorstandschaft</li>
                <li>Wahlen</li>
                <li>Wahl des Kassenprüfers</li>
                <li>Anträge</li>
                <li>Verschiedenes</li>
              </ol>
              <h3>Anhänge</h3>
              <div class="not-prose text-sm text-gray-900">
                <ul
                  role="list"
                  class="divide-y divide-gray-100 rounded-md border border-gray-200"
                >
                  <li>
                    <a
                      class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
                      href="/downloads/Skizunft-Kollnau-JHV-2022-Protokoll.pdf"
                      download
                      target="_blank"
                    >
                      <div class="flex w-0 flex-1 items-center">
                        <Icon name="attach-text-24-regular" size={20} />
                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                          <span class="truncate font-medium">
                            Skizunft-Kollnau-JHV-2022-Protokoll.pdf
                          </span>
                          <span class="flex-shrink-0 text-gray-400">1.4mb</span>
                        </div>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <div
                          class="font-medium text-sky-600 hover:text-sky-500"
                        >
                          Download
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <h3>Anträge</h3>
              <p>
                Bitte stelle deinen Antrag bis zum 8. November 2023 via E-Mail
                an unseren ersten Vorsitzenden Thomas Eckhardt:<br />
                <a
                  href="mailto:thomas.eckhardt@szkollnau.de?subject=Antrag%20JHV%202023"
                  target="_blank"
                >
                  thomas.eckhardt@szkollnau.de
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Page>
