---
import UnderConstruction from '@/components/UnderConstruction.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Jahreshauptversammlung" description="">
  <main>
    <div class="box mt-5">
      <UnderConstruction />
    </div>
  </main>
</Page>
