---
import Page from '@/layouts/Page.astro'
---

<Page title="Kontakt und Impressum" description="">
  <main class="box mt-5">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Impressum
      </h1>
      <div class="mt-10 flex flex-wrap gap-x-40 gap-y-10">
        <div class="prose max-w-2xl">
          <h2>Anbieter</h2>
          <p>
            <b>Skizunft Kollnau e.V.</b><br />
            Friedrichstraße 8a, 79183 Waldkirch<br />
            info@szkollnau.de
          </p>
          <p>Vertreten durch den Vereinsvorstand.</p>
          <dl>
            <dt>Vorsitzender:</dt>
            <dd>Thomas Eckhardt</dd>
            <dt>Stellvtr. Vorsitzende:</dt>
            <dd>Sabrina Armbruster</dd>
            <dt>Geschäftsführer:</dt>
            <dd>Dieter Schaller</dd>
            <dt>Kassenwart</dt>
            <dd>Benjamin Fischer</dd>
          </dl>
        </div>
        <div class="prose max-w-2xl">
          <h2>DSV-Skischule</h2>
          <p>dsvskischule@szkollnau.de</p>
          <dl>
            <dt>Leitung</dt>
            <dd>Simone Fechti und Theresa Schaller</dd>
          </dl>
        </div>
      </div>
      <div class="prose mt-10">
        <h2>Haftungsausschluss</h2>
        <p>
          Wir sind für die Inhalte unserer Internetseiten nach den Maßgaben der
          allgemeinen Gesetzen verantwortlich. Alle Inhalte werden mit der
          gebotenen Sorgfalt und nach bestem Wissen erstellt. Soweit wir auf
          unseren Internetseiten mittels Hyperlink auf Internetseiten Dritter
          verweisen, können wir keine Gewähr für die fortwährende Aktualität,
          Richtigkeit und Vollständigkeit der verlinkten Inhalte übernehmen, da
          diese Inhalte außerhalb unseres Verantwortungsbereichs liegen und wir
          auf die zukünftige Gestaltung keinen Einfluss haben. Sollten aus Ihrer
          Sicht Inhalte gegen geltendes Recht verstoßen oder unangemessen sein,
          teilen Sie uns dies bitte mit. Die rechtlichen Hinweise auf dieser
          Seite sowie alle Fragen und Streitigkeiten im Zusammenhang mit der
          Gestaltung dieser Internetseite unterliegen dem Recht der
          Bundesrepublik Deutschland.
        </p>
        <h2>Datenschutzhinweis</h2>
        <p>
          Unsere Datenschutzerklärung finden Sie unter: <a href="/datenschutz/">
            https://www.szkollnau.de/datenschutz/
          </a>
        </p>
        <h2>Urheberrechtshinweis</h2>
        <p>
          Die auf unserer Internetseite vorhandenen Texte, Bilder, Fotos, Videos
          oder Grafiken unterliegen in der Regel dem Schutz des Urheberrechts.
          Jede unberechtigte Verwendung (insbesondere die Vervielfältigung,
          Bearbeitung oder Verbreitung) dieser urheberrechtsgeschützten Inhalte
          ist daher untersagt. Wenn Sie beabsichtigen, diese Inhalte oder Teile
          davon zu verwenden, kontaktieren Sie uns bitte im Voraus unter den
          oben stehenden Angaben. Soweit wir nicht selbst Inhaber der benötigten
          urheberrechtlichen Nutzungsrechte sein sollten, bemühen wir uns, einen
          Kontakt zum Berechtigten zu vermitteln.
        </p>
        <h2>Social-Media-Profile</h2>
        <p>Dieses Impressum gilt auch für folgende Social-Media-Profile:</p>
        <ul>
          <li>
            Instagram: <a
              href="https://www.instagram.com/sz_kollnau/"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://www.instagram.com/sz_kollnau/
            </a>
          </li>
          <li>
            Facebook: <a
              href="https://www.facebook.com/profile.php?id=100092418277303"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://www.facebook.com/profile.php?id=100092418277303
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Page>
