---
import clsx from 'clsx'
import Icon from './Icon.astro'

const { class: className, level = 'warning' } = Astro.props

const levelStyles = {
  warning: {
    root: 'border-yellow-400 bg-yellow-50',
    icon: 'text-yellow-400',
    content: 'prose-warning',
    iconName: 'warning-24-filled',
  },
}
const levelStyle = levelStyles[level] ?? levelStyles.warning
---

<div class={clsx('border-l-4 px-4 py-2', levelStyle.root, className)}>
  <div class="flex">
    <div class={clsx('relative top-0.5 flex-shrink-0', levelStyle.icon)}>
      <Icon name={levelStyle.iconName} />
    </div>
    <div class={clsx('prose ml-3 max-w-none', levelStyle.content)}>
      <slot />
    </div>
  </div>
</div>
