---
import clsx from 'clsx'
import Icon from './Icon.astro'

const { model, xoptions, ...props } = Astro.props
---

<div class="mt-4 space-y-2" {...props}>
  <!-- Active: "border-sky-600 ring-2 ring-sky-600", Not Active: "border-gray-300" -->
  <template {...{ 'x-for': `(item, index) in ${xoptions}` }} :key="index">
    <!-- <pre class="absolute" x-text="JSON.stringify(item.catgeory.priceFormatted, null, 2)"></pre> -->
    <label
      class="relative flex md:items-center rounded-lg bg-white p-4 shadow-sm focus:outline-none text-sm"
      :class="item.disabled ? 'cursor-not-allowed' : 'cursor-pointer'"
    >
      <input type="checkbox" class="sr-only peer" x-model={model} :value="item.value" :disabled="item.disabled" />
      <div
        class="flex-1 flex items-center relative z-10 text-gray-900 peer-disabled:text-gray-500 peer-disabled:ring-gray-200"
      >
        <div>
          <div class="font-medium" x-text="item.label"></div>
          <div x-text="item.dateFormatted"></div>
        </div>
        <!-- <div class="ml-10 font-hero text-4xl text-brandblue-500 flex-none">
          <span x-text="item.catgeory.priceMemberFormatted"></span>
          <span x-text="item.category.priceFormatted"></span>
        </div> -->
      </div>
      <Icon
        x-show="!item.disabled"
        name="checkmark-circle-20-filled"
        className="ml-2 text-sky-600 invisible peer-checked:visible peer-disabled:hidden relative z-10"
        sizeClass="h-5 w-5"
      />
      <span
        x-show="item.state"
        x-text="item.state"
        class={clsx(
          'relative z-10 ml-5 pl-6 text-sm text-right',
          'peer-disabled:text-gray-500 peer-disabled:ring-gray-200',
          'peer-checked:hidden',
        )}
        :class="item.stateColor ? item.stateColor : 'text-gray-500'"
      >
      </span>
      <Icon
        x-show="!item.disabled && item.state"
        name="calendar-info-20-regular"
        className="ml-2 text-gray-500 relative z-10 peer-checked:hidden"
        sizeClass="h-5 w-5"
      />
      <Icon
        x-show="item.closed"
        name="warning-20-regular"
        className="ml-2 text-gray-500 hidden peer-disabled:block relative z-10"
        sizeClass="h-5 w-5"
      />
      <div
        class={clsx(
          'pointer-events-none absolute -inset-px rounded-lg ring-1 ring-inset ring-gray-300 peer-checked:ring-2 peer-checked:ring-sky-600',
          'peer-disabled:bg-gray-50',
        )}
        aria-hidden="true"
      >
      </div>
    </label>
  </template>
</div>
