---
const { ...props } = Astro.props
---

<nav aria-label="Progress" {...props}>
  <ol role="list" class="flex items-center justify-center">
    <template x-for="(item, index) in steps" :key="item.slug">
      <li
        class="relative"
        :class="index < steps.length - 1 && 'pr-16 sm:pr-24'"
      >
        <div
          x-show="index < steps.length - 1"
          class="absolute left-0 right-0 top-4 flex items-center"
          aria-hidden="true"
        >
          <div
            class="h-0.5 w-full"
            :class="index < step.index ? 'bg-brandblue-600' : 'bg-gray-200'"
          >
          </div>
        </div>
        <div
          class="relative"
          :class="index >= step.index && 'cursor-default'"
          :aria-current="step.slug == item.slug"
        >
          <div
            x-show="index < step.index"
            class="flex h-8 w-8 items-center justify-center rounded-full bg-brandblue-600 transition"
          >
            <svg
              class="h-5 w-5 text-white"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            <span
              x-show="index == step.index"
              class="h-2.5 w-2.5 rounded-full bg-brandblue-600"
              aria-hidden="true"></span>
          </div>
          <div
            x-show="index == step.index"
            class="relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-brandblue-600 bg-white"
          >
            <span
              class="h-2.5 w-2.5 rounded-full bg-brandblue-600"
              aria-hidden="true"></span>
          </div>
          <div
            x-show="index > step.index"
            class="group relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white"
          >
          </div>
          <div
            class="absolute left-1/2 top-full -translate-x-1/2 pt-1 text-center text-xs leading-tight md:whitespace-nowrap md:text-sm"
          >
            <div x-text="item.label"></div>
          </div>
        </div>
      </li>
    </template>
  </ol>
</nav>
