<a
  href="/skischule/kurse/"
  class="flex items-center justify-center gap-x-6 bg-rose-50 px-6 py-2.5 text-rose-500"
>
  <div class="text-sm leading-6">
    <strong>
      Wichtige Hinweise zu den Kursen am <span class="whitespace-nowrap"
        >27./28. Januar</span
      >
    </strong>
    {' '}&middot;{' '}
    <span class="inline-block">
      <span class="underline">Mehr Informationen</span>{' '}
      <span aria-hidden="true">&rarr;</span>
    </span>
  </div>
</a>
