---
import { Image } from 'astro:assets'

import HeroHomeImage from '../images/hero-skikurse.png'
// import DsvSkischule from '../images/dsv-skischule.svg'
---

<div class="max-w-[1600px] mx-auto">
  <div class="h-[400px] lg:h-[600px]">
    <Image src={HeroHomeImage} alt="Skikurse für Kinder und Erwachsene" class="max-w-none w-full h-full object-cover" />
  </div>
  <!-- <img
      src={DsvSkischule.src}
      alt="DSV Skischule Skizunft Kollnau e.V."
      class="absolute bottom-0 left-0 w-auto h-[24px]"
    /> -->
</div>
