---
import { Icon as AstroIcon } from 'astro-icon'
import clsx from 'clsx'

const {
  pack = 'fluent',
  name = 'warning-24-filled',
  filename,
  className = 'inline-block',
  sizeClass = 'w-6 h-6',
  ...props
} = Astro.props

const iconProps = filename
  ? {
      name: filename,
    }
  : {
      pack,
      name,
    }
---

<!-- <span class={clsx(className)}> -->
<AstroIcon
  {...iconProps}
  class={clsx('flex-none', className, sizeClass)}
  {...props}
/>
<!-- </span> -->
