---

---

<div class="relative">
  <input class="peer hidden" id="radio_1" type="radio" name="radio" checked />
  <span
    class="absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full ring-8 ring-gray-300 bg-white peer-checked:ring-indigo-500"
  >
  </span>
  <label
    class="flex cursor-pointer flex-col rounded-lg ring ring-gray-300 p-4 peer-checked:ring-4 peer-checked:ring-indigo-700"
    for="radio_1"
  >
    <span class="text-xs font-semibold uppercase">Small</span>
    <span class="mt-2 text-xl font-bold">Micro VPS</span>
    <ul class="mt-2 text-sm">
      <li>45 GBs</li>
      <li>3.0 GHz</li>
    </ul>
  </label>
</div>
