---
const { name, label, model, ...props } = Astro.props
---

<fieldset {...props}>
  <legend class="text-lg font-semibold leading-6 text-gray-900">{label}</legend>
  <slot name="introduction" />

  <div class="mt-4 space-y-4">
    <template x-for="(item, index) in getCategoriesOptions(kid)" :key="index">
      <label class="relative flex cursor-pointer rounded-lg bg-white p-4 shadow-sm focus:outline-none text-sm">
        <input type="radio" x-bind:name={name} class="sr-only peer" x-model={model} x-bind:value="item.value" />
        <span class="flex flex-1 relative z-10">
          <span class="flex flex-col">
            <span class="block font-medium text-gray-900" x-text="item.label"></span>
          </span>
        </span>
        <svg
          class="h-5 w-5 text-sky-600 invisible peer-checked:visible relative z-10"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          class="pointer-events-none absolute -inset-px rounded-lg ring-1 ring-inset ring-gray-300 peer-checked:ring-2 peer-checked:ring-sky-600"
          aria-hidden="true"></span>
      </label>
    </template>
  </div>
</fieldset>
