---
import Icon from './Icon.astro'
---

<div
  class="mx-auto max-w-md flex-none overflow-hidden rounded-lg border-sky-400 bg-sky-50 text-sky-600 shadow"
>
  <div class="prose px-4 py-5 text-sky-700 sm:p-6">
    <h2 class="text-sky-600">
      <Icon name="road-cone-24-filled" /> Neues Design
    </h2>
    <p>Wir haben unsere Website von Grund auf neu gestaltet.</p>
    <p>
      Noch sind wir nicht fertig, aber wir arbeiten unter Hochdruck daran, dir
      alle Inhalte wieder zur Verfügung zu stellen.
    </p>
  </div>
</div>
