---
import Icon from '@/components/Icon.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Wanderungen" description="">
  <main>
    <div class="box mt-12">
      <div class="">
        <div class="mx-auto">
          <h2 class="mt-2 font-hero text-5xl tracking-tight sm:text-7xl">
            Franz-Josef-Schmieder-Wanderung
          </h2>
          <div class="max-w-2xl">
            <p class="mt-6 text-lg leading-8 text-brandblue-600">
              Unsere „Wurst und Wecken” Wanderung führt die Teilnehmer durch den
              Kandelwald zur Gustav-Beck-Hütte: Individuell, in der Gruppe oder
              mit dem Mountainbike. Für das leibliche Wohl wird bestens gesorgt.
              Die Tour findet bei jedem Wetter statt. Gäste sind herzlich
              willkommen.
            </p>
          </div>
          <div class="mt-6 gap-x-6 text-brandblue-600 md:flex">
            <p class="flex items-center gap-x-2">
              <Icon name="calendar-24-regular" />
              <span class="font-semibold">Am</span>
              <span>21. Oktober 2024</span>
            </p>
            <p class="flex items-center gap-x-2">
              <Icon name="location-24-regular" />
              <span class="font-semibold">Treffpunkt</span>
              <span>10 Uhr Rathausplatz, Kollnau</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Page>
