---
import Icon from '@/components/Icon.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Wanderungen" description="">
  <main>
    <div class="box mt-12">
      <h2
        class="mt-2 font-hero text-4xl leading-none tracking-tight md:text-7xl"
      >
        Franz-Josef-Schmieder-Wanderung
      </h2>
      <div class="max-w-2xl">
        <p class="mt-6 text-lg leading-8">
          Unsere „Wurst und Wecken” Wanderung führt die Teilnehmer durch den
          Kandelwald zur Gustav-Beck-Hütte: Individuell, in der Gruppe oder mit
          dem Mountainbike. Für das leibliche Wohl wird bestens gesorgt. Die
          Tour findet bei jedem Wetter statt. Gäste sind herzlich willkommen.
        </p>
      </div>
      <div class="mt-6 flex flex-wrap gap-x-6 gap-y-6 text-gray-600">
        <p class="flex items-center gap-x-2">
          <Icon name="calendar-24-regular" />
          <span class="font-semibold">Am</span>
          <span>27. Oktober 2024</span>
        </p>
        <p class="flex items-center gap-x-2">
          <Icon name="location-24-regular" />
          <span class="font-semibold">Treffpunkt</span>
          <span>10 Uhr Rathausplatz, Kollnau</span>
        </p>
      </div>
    </div>
  </main>
</Page>
