---
import Page from '@/layouts/Page.astro'
import Ablauf from '@/components/sections/skischule/Ablauf.astro'
import Informationen from '@/components/sections/skischule/Informationen.astro'
import Zertifikat from '@/components/sections/skischule/Zertifikat.astro'
---

<Page title="DSV-Skischule" description="">
  <main>
    <div class="box mt-5">
      <h1>Skischule</h1>
    </div>
    <Ablauf />
    <Informationen />
    <Zertifikat />
  </main>
</Page>
