---
import Page from '@/layouts/Page.astro'
import SkischuleHero from '@/components/sections/skischule/SkischuleHero.astro'
import Team from '@/components/sections/skischule/Team.astro'
import Ablauf from '@/components/sections/skischule/Ablauf.astro'
import Informationen from '@/components/sections/skischule/Informationen.astro'
import Zertifikat from '@/components/sections/skischule/Zertifikat.astro'
---

<Page title="DSV-Skischule" description="">
  <main>
    <SkischuleHero />
    <Ablauf />
    <Team />
    <Informationen />
    <Zertifikat />
  </main>
</Page>
