---
import KurseStatus from '@/components/sections/skischule/KurseStatus.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Skikurse & Snowboardkurse auf dem Kandel" description="">
  <main>
    <div class="box mt-5">
      <KurseStatus />
    </div>
  </main>
</Page>
