---
import Icon from '@/components/Icon.astro'
import Page from '@/layouts/Page.astro'

// Fira Sans
---

<Page title="Wanderungen" description="">
  <main>
    <div class="box mt-12">
      <h2
        class="mt-2 font-hero text-4xl leading-none tracking-tight md:text-7xl"
      >
        Haltung und Bewegung durch Ganzkörpertraining
      </h2>
      <div class="max-w-2xl">
        <p class="mt-6 text-lg leading-8">
          Damit du den täglichen Belastungen besser gewachsen bist. Durch
          Bewegungsmangel, langes Sitzen und Stehen hervorgerufene
          Fehlbelastungen unseres Körpers gehören zu den Problemen der heutigen
          Zeit. Das Ziel des Kurses ist funktionale Verhaltensweisen sowie eine
          bewusste und aktive Körperhaltung zu erlernen. Die in diesem Kurs
          vermittelten Trainingsmaßnahmen helfen, Beschwerden vorzubeugen.
        </p>
      </div>
      <div class="mt-6 flex flex-wrap gap-x-6 gap-y-6 text-gray-600">
        <p class="flex items-center gap-x-2">
          <Icon name="calendar-24-regular" />
          <span class="italic">Derzeit keine Termine</span>
        </p>
        <p class="flex items-center gap-x-2">
          <Icon name="clock-24-regular" />
          <span>Dienstags, 19:30 Uhr</span>
        </p>
        <p class="flex items-center gap-x-2">
          <Icon name="location-24-regular" />
          <span>Festhalle Kollnau</span>
        </p>
      </div>
    </div>
  </main>
</Page>
