<div class="mx-auto mt-40 max-w-7xl px-6 lg:px-8" id="kurshinweise">
  <div
    class="prose mx-auto max-w-2xl prose-h2:font-hero prose-h2:text-5xl prose-h2:leading-none lg:max-w-none"
  >
    <h2 class="text-center">
      Aktuelle Hinweise zu unseren Ski- und Snowboardkursen
    </h2>
    <div class="space-y-6">
      <div class="rounded-4xl bg-sky-50 py-5 shadow md:flex">
        <div class="flex items-center justify-center px-[5%]">
          <div class="text-center font-hero text-5xl leading-none">
            <div class="text-7xl leading-none tracking-tight">
              6.&&thinsp;7.
            </div>
            <div>Januar</div>
          </div>
        </div>
        <div class="prose flex-1 prose-td:px-4 prose-td:align-top">
          <table class="">
            <tr>
              <td class="w-[10em]">Bambini</td>
              <td>
                <span class="inline-flex gap-x-2 text-green-800">
                  <Icon
                    name="checkmark-circle-24-regular"
                    className="text-green-500"
                  /> findet statt
                </span>
              </td>
            </tr>
            <tr>
              <td>Beginner</td>
              <td>
                <span class="inline-flex gap-x-2 text-green-800">
                  <Icon
                    name="checkmark-circle-24-regular"
                    className="text-green-500"
                  /> findet statt
                </span>
              </td>
            </tr><tr>
              <td>Junior Champions</td>
              <td>
                <span class="inline-flex gap-x-2 text-yellow-800">
                  <Icon name="warning-24-regular" className="text-yellow-500" />
                   verlegt auf 24./25. Januar
                </span>
              </td>
            </tr>
            <tr>
              <td>Champions</td>
              <td>
                <span class="inline-flex gap-x-2 text-red-800">
                  <Icon
                    name="error-circle-24-regular"
                    className="text-red-500"
                  /> abgesagt
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="rounded-4xl bg-sky-50 py-5 shadow md:flex">
        <div class="flex items-center justify-center px-[5%]">
          <div class="text-center font-hero text-3xl leading-none">
            <div class="font-hero text-5xl leading-none tracking-tight">
              13.&&thinsp;14.
            </div>
            <div>Januar</div>
          </div>
        </div>
        <div class="px-[5%]">
          <p>Informationen folgen Zeitnah in der Woche der Kurse</p>
        </div>
      </div>
      <div class="rounded-4xl bg-sky-50 py-5 shadow md:flex">
        <div class="flex items-center justify-center px-[5%]">
          <div class="text-center font-hero text-3xl leading-none">
            <div class="font-hero text-5xl leading-none tracking-tight">
              27.&&thinsp;28.
            </div>
            <div>Januar</div>
          </div>
        </div>
        <div class="px-[5%]">
          <p>Informationen folgen Zeitnah in der Woche der Kurse</p>
        </div>
      </div>
    </div>

    <p>
      Alle Kurse am Wochenende können wie geplant auf dem Kandel durchgeführt
      werden. Wir freuen uns auf euch!
    </p>
    <p>
      Das sind die Kurse, die am 14./15. Januar wegen Schneemangels verschoben
      werden mussten. Alle Kursteilnehmer sind automatisch angemeldet.
      Teilnehmer die nicht können melden sich bitte per E-Mail an
      info@szkollnau.de – vielen Dank.
    </p>
    <p>
      Bitte beachtet die Informationen zu unserem generellen <a href="/"
        >Kursablauf</a
      > und zur richtigen Ausrüstung der Kursteilnehmer.
    </p>
  </div>
</div>
