---
import clsx from 'clsx'
import Icon from '@/components/Icon.astro'

const flow = [
  // {
  //   icon: 'tag-reset-24-regular',
  //   bgColor: 'bg-gray-400',
  //   content: `Du richtest deine Ausrüstung und überprüfst diese auf Funktion und Sicherheit.`,
  //   fullWidth: true,
  // },
  {
    icon: 'building-shop-20-regular',
    bgColor: 'bg-green-500',
    content: `Komm in die <strong>Festhalle Kollnau</strong> und gib deine gebrauchten Ski, Snowboards, Skischuhe, Stöcke, Winterkleidung, Helme, etc. bei unseren ehrenamtlichen Helfern ab.`,
    note: '12.30 Uhr',
  },
  {
    icon: 'tag-multiple-24-regular',
    bgColor: 'bg-gray-400',
    content: `Unsere ehrenamtlichen Helfer erfassen deine Artikel inklusive dem gewünschten Verkaufspreis. Du erhälst im Anschluss einen Abholschein.`,
    note: 'einige Minuten später',
  },
  {
    icon: 'shopping-bag-tag-24-regular',
    bgColor: 'bg-gray-400',
    content: `Deine Artikel werden sortiert und für den Verkauf in der Festhalle ausgestellt. `,
  },
  {
    icon: 'clock-pause-24-regular',
    bgColor: 'bg-red-400',
    content: `Die Annahme ist ab jetzt geschlossen und wir bereiten alles für den Verkauf vor.`,
    note: 'kurz vor 14 Uhr',
  },
  {
    icon: 'shopping-bag-24-regular',
    bgColor: 'bg-green-400',
    content: `Der Verkauf ist eröffnet und di kannst dich um deinen eigenen Einkauf kümmern. Wenn du beim Kauf eines Sportartikels Hilfe benötigst, stehen dir unsere erfahrene Ski/Snowboardlehrer gerne beratend zur Seite.`,
    note: 'ab 14.00 Uhr',
  },
  {
    icon: 'chat-bubbles-question-24-regular',
    bgColor: 'bg-gray-400',
    content: `Am Stand unserer <a href="/skischule" class="font-semibold text-gray-900 underline">DSV-Skischule</a> kannst du dich über unser Kursangebot an Ski- und Snowboardkursen für Kinder ab 4 Jahren informieren. Eine Anmeldung direkt möglich und du bekommst einen Rabatt von 10% obendrauf.`,
  },
  {
    icon: 'receipt-bag-24-regular',
    bgColor: 'bg-sky-400',
    content: `Der Verkauf ist beendet und du kannst mit deinem Abholschein erfahren wie hoch dein Erlös ist.`,
    note: '16 bis 17 Uhr',
  },
  {
    icon: 'emoji-24-regular',
    bgColor: 'bg-green-500',
    content: `Wir hoffen deine Artikel haben glückliche neue Besitzer gefunden und du bist zufrieden mit deinem Erlös.`,
  },
]
---

<div class="pb-24 sm:pb-32">
  <div class="box">
    <!-- <h2 class="text-center font-hero text-5xl leading-none md:text-7xl">
      Wir bieten Ski- und Snowboardkurse<br />für Kinder ab 4 Jahren.
    </h2> -->
    <h2 class="md:mx-auto md:max-w-2xl md:text-center">
      <div class="typo-hero-md">Wir organisieren den Verkauf für dich</div>
    </h2>
    <div class="mx-auto mt-6 max-w-2xl space-y-4 text-base">
      <p>
        Du möchtest deine gebrauchten Ski, Snowboards, Skischuhe, Stöcke,
        Winterkleidung, Helme, etc. verkaufen? Dann komm zu unserem Skibasar und
        wir übernehmen den Verkauf für dich.
      </p>
      <p>
        Für jeden angenommenen Artikel berechnen wir eine Bearbeitungsgebühr von
        mindestens 1&nbsp;€ oder 10% des Verkaufspreises bei Verkauf.
      </p>
    </div>

    <div class="mx-auto mt-8 flow-root max-w-3xl md:mt-12">
      <ul role="list" class="-mb-8">
        {
          flow.map((item, index) => (
            <li>
              <div class="relative pb-8">
                {index < flow.length - 1 && (
                  <span
                    class="absolute left-5 top-5 -ml-px h-full "
                    aria-hidden="true"
                  >
                    <span class="absolute bottom-8 top-8 w-0.5 bg-black/10" />
                  </span>
                )}
                <div class="relative flex space-x-3">
                  <div>
                    <span
                      class={clsx(
                        'flex h-10 w-10 items-center justify-center rounded-full text-white ',
                        item.bgColor,
                      )}
                    >
                      <Icon name={item.icon} />
                    </span>
                  </div>
                  <div class="flex min-w-0 flex-1 flex-col justify-between gap-y-2 pt-2 md:flex-row md:gap-x-16">
                    {item.note && (
                      <div
                        class="text-sm leading-snug text-gray-500 md:order-1 md:whitespace-nowrap md:text-right"
                        set:html={item.note}
                      />
                    )}
                    <div class={clsx(!item.fullWidth && 'max-w-md')}>
                      <p set:html={item.content} />
                    </div>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
