---
import Ablauf from '@/components/sections/brettlemarkt/Ablauf.astro'
import Page from '@/layouts/Page.astro'
---

<Page title="Brettlemarkt" description="">
  <main class="mt-5">
    <div class="box pb-24 sm:pb-32">
      <h1 class="typo-hero">Unser Brettlemarkt 2023</h1>
      <p class="typo-hero-xs mt-2 text-center">
        am <span class="text-sky-600">21.&nbsp;Oktober&nbsp;2023</span> in der
        Festhalle Kollnau
      </p>
      <div class="mx-auto mt-6 max-w-2xl space-y-4 text-base">
        <p>
          Rechtzeitig vor Saisonbeginn kann in der Festhalle in Kollnau alles,
          was mit dem Wintersport zu tun hat, verkauft oder erworben werden.
        </p>
        <p>
          Für das leibliche Wohl ist bestens gesorgt, so gibt es Kaffe und
          Kuchen, Waffeln, Bratwurst und Getränke.
        </p>
      </div>
    </div>
  </main>
  <Ablauf />
</Page>
