---
import CheckoutPage from '@/layouts/CheckoutPage.astro'
import FormSteps from '@/components/FormSteps.astro'

const key = 'booking'
---

<CheckoutPage title="Kursbuchung" description="" className="bg-gray-50">
  <div x-data={key}>
    <FormSteps />
    <div class="mt-10">
      <div>Fertig</div>
    </div>
  </div>
</CheckoutPage>

<script is:inline define:vars={{ key }}>
  document.addEventListener('alpine:init', () => {
    currentStep = 2
    const steps = [
      {
        index: 0,
        slug: 'selection',
        label: 'Kurs auswählen',
      },
      {
        index: 1,
        slug: 'booking',
        label: 'Kurs buchen',
      },
      {
        index: 2,
        slug: 'complete',
        label: 'Fertig!',
      },
    ]

    Alpine.data(key, () => ({
      currentStep,
      step: steps[currentStep],
      steps,
    }))
  })
</script>
