---
import Page from '@/layouts/Page.astro'
import Icon from '@/components/Icon.astro'
---

<Page title="Buchung geschlossen" description="" className="bg-gray-50">
  <main class="box pb-20 pt-10">
    <div
      class="mx-auto max-w-lg flex-none overflow-hidden rounded-lg border-sky-400 bg-sky-50 text-sky-600 shadow"
    >
      <div class="prose px-4 py-5 text-sky-700 sm:p-6">
        <h2 class="text-sky-600">
          <Icon name="road-cone-24-filled" /> Buchung geschlossen
        </h2>
        <p>
          Wir freuen uns sehr, über dein Interesse an einem Ski- oder
          Snowboardkurs. Buchungen für die aktuelle Saison 2024/2025 werden
          voraussichtlich ab 4.&nbsp;November&nbsp;2024 online möglich sein.
        </p>
        <!-- <p class="text-red-600">
          Wir kämpfen im Augenblick leider noch mit ein paar technischen
          Problemen und benötigen noch etwas Zeit.
        </p> -->
        <p>
          Falls du dir vorher einen Platz sichern möchtest, besuche uns gerne
          auf unserem <a href="/brettlemarkt" class="text-sky-700">
            Brettlemarkt
            </a> am 26.&nbsp;Oktober. Hier sind Buchung vor Ort möglich und du
          erhälst obendrein noch 10%&nbsp;Rabatt.
        </p>
        <p>Wir bitten dich noch um etwas Geduld.</p>
        <!-- <p>
          Wir freuen uns sehr, über dein Interesse an einem Skikurs. Leider sind
          für diese Saison 2022/23 bereits alle Kurse ausgebucht. Sollten sich
          weitere Termine ergeben oder Plätze kurzfristig frei werden, werden
          wir die Anmeldung wieder öffnen.
        </p> -->
      </div>
    </div>
  </main>
</Page>
