---
import Page from '@/layouts/Page.astro'
import Icon from '@/components/Icon.astro'
---

<Page title="Buchung geschlossen" description="" className="bg-gray-50">
  <main class="box pb-20 pt-10">
    <div
      class="mx-auto max-w-lg flex-none overflow-hidden rounded-lg border-sky-400 bg-sky-50 text-sky-600 shadow"
    >
      <div class="prose px-4 py-5 text-sky-700 sm:p-6">
        <h2 class="text-sky-600">
          <Icon name="road-cone-24-filled" /> Buchung geschlossen
        </h2>
        <p class="text-red-600">
          Wir kämpfen im Augenblick leider noch mit ein paar technischen
          Problemen und benötigen noch etwas Zeit.
        </p>
        <p>
          Wir freuen uns sehr, über dein Interesse an einem Ski- oder
          Snowboardkurs. Buchungen für die aktuelle Saison 2024/2025 werden
          voraussichtlich ab 11.&nbsp;November&nbsp;2024 online möglich sein.
        </p>
        <p>Wir bitten dich noch um etwas Geduld. Hier aber bereits alle Termine unserer Kurse:</p>
        <table>
          <thead>
            <tr>
              <th>Kurs</th>
              <th>29./30.12.<br>2024</th>
              <th>04./05.01.<br>2025</th>
              <th>25./26.01.<br>2025</th>
            </tr>
          </thead>
          <tr>
            <td>Ski Bambini</td>
            <td>Kurs 1</td>
            <td>Kurs 2</td>
            <td>Kurs 3</td>
          </tr>
          <tr>
            <td>Ski Beginner</td>
            <td>Kurs 1</td>
            <td>Kurs 2</td>
            <td>Kurs 3</td>
          </tr>
          <tr>
            <td>Ski Junior Champion</td>
            <td>Kurs 1</td>
            <td>Kurs 2</td>
            <td>Kurs 3</td>
          </tr>
          <tr>
            <td>Ski Champion</td>
            <td>—</td>
            <td>Kurs 1</td>
            <td>Kurs 2</td>
          </tr>
          <tr>
            <td>Ski Jugendliche/Erwachsene</td>
            <td>—</td>
            <td>—</td>
            <td>Kurs 1</td>
          </tr>
          <tr>
            <td>Snowboard Beginner</td>
            <td>—</td>
            <td>—</td>
            <td>Kurs 1</td>
          </tr>
        </table>
        
        <!-- <p>
          Wir freuen uns sehr, über dein Interesse an einem Skikurs. Leider sind
          für diese Saison 2022/23 bereits alle Kurse ausgebucht. Sollten sich
          weitere Termine ergeben oder Plätze kurzfristig frei werden, werden
          wir die Anmeldung wieder öffnen.
        </p> -->
      </div>
    </div>
  </main>
</Page>
